nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 10%;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  nav ul li a {
    color: #000;
    font-size: 1.1rem;
    padding: 10px;
    transition: 0.4s;
  }
  
  nav ul li a:hover {
    color: teal;
    border-bottom: 4px solid teal;
  }
  
  .logo h1 a {
    color: #000;
    font-size: 2rem;
  }
  
  .menu {
    display: none;
  }
  
  .fa-bars {
    font-size: 1.5rem;
  }
  
  .cruz {
    display: none;
  }
  
  .cart-icon {
    position: relative;
  }
  
  .cart-icon span {
    background: crimson;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 4px 6px;
    font-size: 10px;
  }
  
  .cart-icon .fa-shopping-cart {
    font-size: 2rem;
    color: #000;
  }
  
/* --------Responsive-------- */
@media (max-width: 860px) {
  nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }

  nav .menu {
    display: block;
    cursor: pointer;
  }

  nav ul li .menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav {
    justify-content: space-between;
  }

  .menu,
  .cruz {
    display: block;
    cursor: pointer;
  }

  nav ul li .fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
  }
}